body{
    background-color: lightblue;
    font-size: larger;
    color: black;

}
.img {
    width: 20%;
    margin: auto;
    display: block;

}
}
.img1 {
    width: 5%;
    margin: auto;
    display: block;

}